<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee List</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
.download{
display:flex;
justify-content:end;
margin:5px 0;
}
table{
width:100%;
}
.container{
max-width:1200px;
margin:0 auto;
}
.text-center{
text-align:center;
}
</style>
</head>
<body>
	<h1 class="text-center">Employee List</h1>
	<div class="container">
		<a th:href="@{/employees/showNewEmployeeForm}"
			class="btn btn-primary btn-sm mb-3"> Add Employee </a>

		<table border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Date of Birth</th>
					<th>Gender</th>
					<th>Country</th>
					<th>State</th>
					<th>City</th>
					<th>Address Line 1</th>
					<th>Address Line 2</th>
					<th>About Me</th>
					<th>Active</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${listEmployees}">
					<td th:text="${employee.id}"></td>
					<td th:text="${employee.name}"></td>
					<td th:text="${employee.dob}"></td>
					<td th:text="${employee.gender == 1 ? 'Male' : 'Female'}"></td>
					<td th:text="${employee.country}"></td>
					<td th:text="${employee.state}"></td>
					<td th:text="${employee.city}"></td>
					<td th:text="${employee.addressLine1}"></td>
					<td th:text="${employee.addressLine2}"></td>
					<td th:text="${employee.aboutMe}"></td>
					<td th:text="${employee.active} ? 'Active' : 'Inactive'"></td>
					<td><a th:href="@{/employees/update/{id}(id=${employee.id})}"
						class="btn btn-primary">Update</a></td>
				</tr>
			</tbody>
		</table>
		<div class="download">
			<a class="btn btn-success btn-sm mb-3" id="downloadBtn">Download</a>
		</div>
		<div id="hide" style="display: none;">
			<a th:href="@{/employees/print/xl}"
				class="btn btn-success btn-sm mb-3 ml-2">EXCEL Download </a> <a
				th:href="@{/employees/emp/pdf}"
				class="btn btn-success btn-sm mb-3 mr-2 ml-2">PDF Download </a>
		</div>
	</div>
	<script>
	$(document).ready(function() {
        $("#downloadBtn").click(function() {
            $("#hide").show();
            $("#hide").addClass("download");
            $("#downloadBtn").hide();
        });	
    });
	</script>
</body>
</html>
